/*
	结构组成如下
	
	1. 默认初始值；
	2. 导航条部分；
	3. menu 部分；
	4. 欢迎页面；
	5. 技能树页面；
	6. 作品展示页面；
	7. 请联系我页面；
*/

/* 默认初识值 */
html, body{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

.page-wrap{
	position: relative;
	width: 100%;
	height: 400%;
}

/* 导航条部分 */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 9999;
}

header nav{
	float: right;
	cursor: pointer;
	display: block;
}

header .logo{
	color: white;
	font-family: 'Comic Sans MS', cursive;
	font-size: 20px;
	height: 40px;
	width: 100px;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 40px;
	cursor: pointer;
}

.welcome{
	display: none;
}

header li a{
	color: white;
	font-family: 'Comic Sans MS', cursive;
	font-size: 20px;
	height: 40px;
	width: 100px;
	line-height: 40px;
	position: absolute;
	top: 0;
	right: 0;
}

header li a:hover{
	color: #E0E5F5;
	transition: color 0.5s;
}

header li a:hover .btn-ham-wrap div{
	background-color: #E0E5F5;
	transition: background-color 0.5s;
}

.btn-ham-wrap{
	width: 20px;
	height: 18px;
	position: absolute;
	top: 12px;
	left: 58px;
}

.btn-ham-wrap div{
	width: 20px;
	height: 3px;
	background-color: white;
	border: 0;
}

.btn-ham-wrap div:last-child{
	margin-top: 4px;
	/*-webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;    
    transition:all .2s ease-in-out;*/
}

.btn-ham-wrap div:first-child{
	margin-bottom: 4px;
}

/* menu 部分 */
.menu{
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	z-index: 9990;
	background-color: rgba(33,33,33,0.3);
	color: white;
}

.menu-wrap{
	margin-top: 50px;
}

.menu-wrap img{
	border-radius: 50%;
	width: 130px;
	height: 130px;
	border: 4px solid rgba(17,17,14,0.3);
	margin: 0 auto;
	display: block;
	margin-top: 5px;
	transition: 0.3s all;
	cursor: pointer;
}

.menu-wrap img:hover{
	transform: scale(1.1, 1.1);
}

.menu-wrap h2{
	font: 16px/1.5 "微软雅黑";
	text-align: center;
}

.menu-wrap h2:nth-child(2){
	margin-top: 20px;
}

.links-wrap{
	overflow: hidden;
	width: 124px;
	margin: 0 auto;
	margin-top: 15px;
}

.links-wrap li{
	font-size: 25px;
	float: left;
	margin: 0 8px;
}

.links-wrap li a{
	color: white;
}

.links-wrap li:nth-child(1) a:hover{
	color: #A1B2E2;
}

.links-wrap li:nth-child(2) a:hover{
	color: #C854F3;
}

.links-wrap li:nth-child(3) a:hover{
	color: #E65A5F;
}

.nav-wrap{
	margin-top: 30px;
}

.nav-wrap li{
	font-family: 'Comic Sans MS', cursive;
	color: #E0E5F5;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.nav-wrap li a:hover{
	cursor: pointer;
}

@keyframes rotateR {
  from {
    -moz-transform: translateY(0px) rotate(0);
    -ms-transform: translateY(0px) rotate(0);
    -webkit-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
  to {
    -moz-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes rotateL {
  from {
    -moz-transform: translateY(0px) rotate(0);
    -ms-transform: translateY(0px) rotate(0);
    -webkit-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
  to {
    -moz-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }
}

@keyframes rotateR_back {
  from {
    -moz-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
  }
  to {
    -moz-transform: translateY(0px) rotate(0);
    -ms-transform: translateY(0px) rotate(0);
    -webkit-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
}

@keyframes rotateL_back {
  from {
    -moz-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
  }
  to {
    -moz-transform: translateY(0px) rotate(0);
    -ms-transform: translateY(0px) rotate(0);
    -webkit-transform: translateY(0px) rotate(0);
    transform: translateY(0px) rotate(0);
  }
}

.btn-ham-wrap div:last-child.rotateL-addClass{
	-webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;    
    transition:all 1s ease-in-out;
	-moz-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}

section{
	width: 100%;
	display: block;
	position: relative;
	height: 25%;
}

/* 欢迎页面 */
.sec-welcome{
	background-color: black;
	background-image: url("http://7xi77s.com1.z0.glb.clouddn.com/main_bg2.jpg");
	background-position: 70% 0;
	/*opacity:0.8;*/
	/* 兼容低版本ie的写法 */
	/*filter:alpha(opacity=80);*/
}

.sec-welcome h1{
	font-family: 'Comic Sans MS', cursive;
	font-size: 35px;
	color: white;
	display: block;
	position: absolute;
	left: 50%;
	width: 184px;
	text-align: center;
	margin-left: -92px;
	top: 40%;
	height: 40px;
	line-height: 40px;
	margin-top: -20px;
}

.sec-welcome h1::before{
	content: "";
	width: 184px;
	display: block;
	height: 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-radius: 1px;
	margin-bottom: 8px;
}

.sec-welcome h1::after{
	content: "";
	width: 184px;
	display: block;
	height: 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-radius: 1px;
	margin-top: 8px;
}

@-webkit-keyframes 'More' {
	0% {
		/*bottom: 10px;*/
		transform: translateY(10px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(10px);
	}
}

.more-wrap{
	position: absolute;
	display: block;
	width: 100px;
	height: 60px;
	text-align: center;
	font-family: 'Lucida Console', Monaco, monospace;
	color: white;
	font-size: 20px;
	left: 50%;
	margin-left: -50px;
	bottom: 20px;
	-webkit-animation: 'More' 0.7s infinite;
}

.more-wrap:hover{
	cursor: pointer;
	-webkit-animation: none;
}

.more-wrap div{
	width: 2px;
	height: 18px;
	margin-top: 10px;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	background-color: white;
	border-radius: 2px;
}

.more-wrap div::before{
	content: "";
	width: 2px;
	background-color: white;
	height: 12px;
	position: absolute;
	left: 50%;
	margin-left: 4px;
	display: block;
	bottom: 0px;
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
}

.more-wrap div::after{
	content: "";
	width: 2px;
	background-color: white;
	height: 12px;
	position: absolute;
	left: 0;
	margin-left: -5px;
	display: block;
	bottom: 0px;
	-webkit-transform:rotate(-45deg); /* Safari and Chrome */
}

/* 技能树页面 */
.sec-skilltree{
	background-color: #61639E;
	left: 0;
}

/* 作品展示页面 */
.sec-showwork{
	background-color: #4679D2;
	left: 0;
}

footer{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0;
	bottom: 0;
	border: 0;
	margin: 0;
	padding: 0;
	height: 60px;
	background-color: #333;
}

footer span{
	line-height: 60px;
	font-size: 16px;
	color: white;
}

footer span a, footer span a:hover, footer span a:visited{
	color: #999;
}


