html,body,div,ul{
	margin: 0;
	padding: 0;
}

.carousel-family{
	position: relative;
	border: 1px solid rgba(255,255,255,0.6);
	overflow: hidden;
	height: 200px;
	width: 300px;
}

.carousel-item{
	list-style-type: none;
	width: 300px;
	height: 200px;
	display: inline;
	position: absolute;
	font: 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgba(255,255,255,0.6);
	text-align: center;
	line-height: 200px;
}

.carousel-item-one{
	background: #999;
}

.carousel-item-two{
	background: #988;
	left: 300px;
}

.carousel-item-three{
	background: #977;
	left: 600px;
}

.carousel-item-four{
	background: #966;
	left: 900px;
}

.carousel-item-five{
	background: #955;
	left: 1200px;
}

.change-btns{
	position: absolute;
	left: 278px;
	top: 180px;
}

.change-btn{
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background-color:rgba(255,255,255,0.8);
	color: rgba(0,0,0,0);
	cursor: pointer;
}

.change-btn:hover{
	background-color: rgba(250,203,077,0.8);
	cursor: pointer;
}

.change-btn-one{
	right: 54px;
}

.change-btn-two{
	right: 38px;
}

.change-btn-three{
	right: 22px;
}

.change-btn-four{
	right: 6px;
}

.change-btn-five{}